<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<th:block th:replace="~{/layout/basic :: setContent(~{this::content} )}">

    <th:block th:fragment="content">

        <h1 class="mt-4">Register Plan</h1>

        <form th:action="@{/plan/register}" th:method="post">
            <div class="form-group">
                <label >제목</label>
                <input type="text" class="form-control" name="title" placeholder="Enter Title">
            </div>
            <div class="form-group">
                <label >설명</label>
                <textarea class="form-control" rows="5" name="description"></textarea>
            </div>
            <div class="form-group">
                <label>장소</label>
                <input type="text" class="form-control" name="location" placeholder="Enter the Location.">
            </div>
            <div class="form-group">
                <label >시작시간</label>
                <input type="datetime-local" name="start"/>
            </div>
            <div class="form-group">
                <label >끝나는시간</label>
                <input type="datetime-local" name="end"/>
            </div>
            <div class="form-group">
                <label >공개여부</label>
                <input type="radio" name="share" value="비공개">비공개
                <input type="radio" name="share" value="공개">공개
            </div>

            <div class="form-group">
                <label >Writer Email</label>
                <input type="text" class="form-control" name="writerCode" placeholder="유저코드 (나중에 세션값 가져와서 숨기기)">
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>


    </th:block>

</th:block>