<!DOCTYPE html>
<html lang="ko" xmlns="http://www.w3.org/1999/xhtml"  xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>ByNick</title>
</head>
<body style="text-align: center">
        <h3>닉네임을 입력하세요</h3>
        <form th:action="@{/find/result/byNick}" method="post">
            <div>
                <label for="nick">닉네임</label>
                <input type="text" id="nick" name="nick"  placeholder="Please insert Your Nick" /></br>
            </div>
            <li class="buttons">
                <input type="submit" value="아이디/이메일 찾기"/>
            </li>
        </form>
        <input type="button" onclick="location.href='/find/byQuestion';" value="다른 방법으로 찾기">
        <input type="button" onclick="location.href='/main';" value="메인으로">
</body>
</html>